Host *
    TCPKeepAlive yes
    ServerAliveInterval 120
    ServerAliveCountMax 3

# Host gitlab.ic
# Generate via: ssh-keygen -t rsa -b 2048 -C "ra210404"
# Use the generated one, I can't figure out the Hostname of gitlab.ic

# Gitlab
Host gitlab.com
  # Hostname altssh.gitlab.com
  # Hostname ssh.gitlab.com
  # Port 443
  # User git
  PreferredAuthentications publickey
  IdentityFile ~/ssh-keys/github

# Github
Host github.com
    Hostname ssh.github.com
    User git
    IdentityFile ~/ssh-keys/github

Host liv
    User leite
    HostName ssh.liv.ic.unicamp.br
    IdentityFile ~/ssh-keys/github

Host turing
    User leite
    HostName ssh.liv.ic.unicamp.br
    # BatchMode yes

Host gpu01
    User leite
    HostName 2801:8a:40c0:b169::8f45
    IdentityFile ~/ssh-keys/github

Host gpu02
    User gpu02
    HostName 2801:8a:40c0:b169::f19a

Host manaus
  User ra210404
  HostName manaus.ic.unicamp.br
  IdentityFile ~/ssh-keys/github

Host gpu01 gpu02
    User leite
    ProxyJump manaus
